
*{
    font-family: 'Merriweather', serif;
}
    /* this is top banner section  */
.full-banner{
    padding: 10px 60px;
}

.happy-new-year{
    background-image: url('resources/Banner\ Image.png');
    /* padding: 44px; */
    height: 450px;
    width: 850px;
    
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    padding-top: 130px;
    
}
.banner-1{
    
    /* align-items: center; */
    color: #fff;
    margin-top: 5px;
    padding-top: 0;

}
.banner-2{
    /* align-items: center; */
    margin-top: 2px;
    padding-top: 0;
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
}
.banner-3{
    margin-top: 2px;
    padding-top: 0;
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
}

        /* This is Offer section  */
.offer-container{
    margin: 0 auto;
    align-items: center;
    width: 680px;
    height: 700px;
    padding-top: 0;
} 
.parcentage{
    color: #F00;
    text-align: center;
    font-family: sans-serif;
    font-size: 88px;
    font-weight: 700;
}
.holy-day{
    color: #F00;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.cetagory{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}
.happy-pic{
    width: 750px;
    height: 500px;

}
.welcome-container{
    width: 1030px;
    height: 500px;
    background-image: url('resources/Vectorrr.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 200px ;
    align-items: center;
    margin-left: 380px;
    padding: 0 20px;
    display: flex;

}

.welcome-title1{
    color: #FFF;
    font-size: 34px;
    font-weight: 900;
    /* letter-spacing: 7.04px; */
    margin: 0 ;
    padding: 0 18px;

    
}
.welcome-title{
    color: #FFF;
    font-size: 34px;
    font-weight: 900;
    /* letter-spacing: 7.04px; */
    margin-top: 0;
    padding: 0 18px;
    
}

.welcome-img{
    width: 190px;
    height: 210px;
    /* margin-top: 0;
    padding-top: 0; */
}
.welcome-details{
    color: #fff;
    padding: 0 18px;
    width: 600px;
}
.join{
    margin: 0 18px;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

        /* Time section  */

.one-time{
    margin: 55px 370px;
    width: 1100px;
    height: 400px;
    background-color: #eedbc55d;
    justify-content: center;
    border-radius: 5px;
    padding-top: 90px;
}
.time{
    text-align: center;
    margin-top: ;
} 
span{
    color: red;
}
.join-now{
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    background-color: red;
    border: none;
    border-radius: 3px;
    margin: 20px auto;
    padding-top: 5px;
    display: block;
}  
